<p id="notice"><%= notice %></p>

<p>
  <strong>Sensor array:</strong>
  <%= @vessel_coordinate.sensor_array %>
</p>

<p>
  <strong>Vessel:</strong>
  <%= @vessel_coordinate.vessel %>
</p>

<p>
  <strong>Point:</strong>
  <%= @vessel_coordinate.point %>
</p>

<p>
  <strong>Point accuracy:</strong>
  <%= @vessel_coordinate.point_accuracy %>
</p>

<p>
  <strong>Heading:</strong>
  <%= @vessel_coordinate.heading %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @vessel_coordinate.speed %>
</p>

<p>
  <strong>Altitude:</strong>
  <%= @vessel_coordinate.altitude %>
</p>

<p>
  <strong>Altitude accuracy:</strong>
  <%= @vessel_coordinate.altitude_accuracy %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @vessel_coordinate.timestamp %>
</p>

<%= link_to 'Edit', edit_vessel_coordinate_path(@vessel_coordinate) %> |
<%= link_to 'Back', vessel_coordinates_path %>
