<%= form_for(environmental_reading) do |f| %>
  <% if environmental_reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(environmental_reading.errors.count, "error") %> prohibited this environmental_reading from being saved:</h2>

      <ul>
      <% environmental_reading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reading %>
    <%= f.text_field :reading %>
  </div>

  <div class="field">
    <%= f.label :environmental_reading_type_id %>
    <%= f.text_field :environmental_reading_type_id %>
  </div>

  <div class="field">
    <%= f.label :sensor_array_id %>
    <%= f.text_field :sensor_array_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
