<p id="notice"><%= notice %></p>

<h1>Environmental Readings</h1>

<table>
  <thead>
    <tr>
      <th>Reading</th>
      <th>Environmental reading type</th>
      <th>Sensor array</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @environmental_readings.each do |environmental_reading| %>
      <tr>
        <td><%= environmental_reading.reading %></td>
        <td><%= environmental_reading.environmental_reading_type %></td>
        <td><%= environmental_reading.sensor_array %></td>
        <td><%= link_to 'Show', environmental_reading %></td>
        <td><%= link_to 'Edit', edit_environmental_reading_path(environmental_reading) %></td>
        <td><%= link_to 'Destroy', environmental_reading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Environmental Reading', new_environmental_reading_path %>
