<p id="notice"><%= notice %></p>

<p>
  <strong>Reading:</strong>
  <%= @environmental_reading.reading %>
</p>

<p>
  <strong>Environmental reading type:</strong>
  <%= @environmental_reading.environmental_reading_type %>
</p>

<p>
  <strong>Sensor array:</strong>
  <%= @environmental_reading.sensor_array %>
</p>

<%= link_to 'Edit', edit_environmental_reading_path(@environmental_reading) %> |
<%= link_to 'Back', environmental_readings_path %>
