<p id="notice"><%= notice %></p>

<h1>Coordinates</h1>

<table>
  <thead>
    <tr>
      <th>Sensor array</th>
      <th>Craft</th>
      <th>Point</th>
      <th>Point accuracy</th>
      <th>Heading</th>
      <th>Speed</th>
      <th>Altitude</th>
      <th>Altitude accuracy</th>
      <th>Timestamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coordinates.each do |coordinate| %>
      <tr>
        <td><%= coordinate.sensor_array %></td>
        <td><%= coordinate.sensor_array.craft %></td>
        <td><%= coordinate.point %></td>
        <td><%= coordinate.point_accuracy %></td>
        <td><%= coordinate.heading %></td>
        <td><%= coordinate.speed %></td>
        <td><%= coordinate.altitude %></td>
        <td><%= coordinate.altitude_accuracy %></td>
        <td><%= coordinate.timestamp %></td>
        <td><%= link_to 'Show', coordinate %></td>
        <td><%= link_to 'Edit', edit_coordinate_path(coordinate) %></td>
        <td><%= link_to 'Destroy', coordinate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coordinate', new_coordinate_path %>
