<p id="notice"><%= notice %></p>

<h1>Sensor Readings</h1>

<table>
  <thead>
    <tr>
      <th>Reading</th>
      <th>Sensor reading type</th>
      <th>Sensor array</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sensor_readings.each do |sensor_reading| %>
      <tr>
        <td><%= sensor_reading.reading %></td>
        <td><%= sensor_reading.sensor_type %></td>
        <td><%= sensor_reading.sensor_array %></td>
        <td><%= link_to 'Show', sensor_reading %></td>
        <td><%= link_to 'Edit', edit_sensor_reading_path(sensor_reading) %></td>
        <td><%= link_to 'Destroy', sensor_reading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sensor Reading', new_sensor_reading_path %>
