<%= form_for(weather_reading) do |f| %>
  <% if weather_reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weather_reading.errors.count, "error") %> prohibited this weather_reading from being saved:</h2>

      <ul>
      <% weather_reading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :temp %>
    <%= f.text_field :temp %>
  </div>

  <div class="field">
    <%= f.label :humidity %>
    <%= f.text_field :humidity %>
  </div>

  <div class="field">
    <%= f.label :pressure %>
    <%= f.text_field :pressure %>
  </div>

  <div class="field">
    <%= f.label :sensor_array_id %>
    <%= f.text_field :sensor_array_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
