<p id="notice"><%= notice %></p>

<p>
  <strong>Temp:</strong>
  <%= @weather_reading.temp %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @weather_reading.humidity %>
</p>

<p>
  <strong>Pressure:</strong>
  <%= @weather_reading.pressure %>
</p>

<p>
  <strong>Sensor array:</strong>
  <%= @weather_reading.sensor_array %>
</p>

<%= link_to 'Edit', edit_weather_reading_path(@weather_reading) %> |
<%= link_to 'Back', weather_readings_path %>
